*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#coleta-inteligente {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font: 400 16px "Inter", sans-serif;
  background: #ffffff;
}

section {
  height: 100vh;
}